/* header responsive */
@media (max-width:768px){
    .navigation {
        display: none;}
    .burger-bar {
        display: block;
        color: white;}
    }
@media (max-width:1200px){
    .background-image {
        height: auto;
    }}
@media (max-width:1024px) {
    .images-div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;}   
    .image1:nth-child(2) {
        margin-left: 60px;}
    .image1:nth-child(3){
        margin-top: 60px;}}
@media (max-width:768px) {
    .image1:nth-child(2) {
        margin-top: 60px;
        width: 100%;
        margin-left: 0;}
    .image1:nth-child(1){
        width: 100%;
    }
} 
@media (max-width: 768px){
    .div-box {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;}}
@media (max-width: 1024px) {
    .image1:nth-child(3) {
        width: 100%; }}
@media (max-width:1200px){
    .footer-background {
        height: auto;
    }
    .footer-div {
        height: auto;
    }}
@media (max-width: 768px) {
    .footer-div {
        flex-wrap: wrap;
        align-items: center;
    }
    .second-div {
        flex-wrap: wrap;
        align-items: center;
    }
}