/* header responsive */
@media (max-width:768px){
    .navigation {
        display: none;}
    .burger-bar {
        display: block;
        color: white;}
    }
@media (max-width:1200px){
    .background-image {
        height: auto;
    }}
@media (max-width:1024px) {
    .images-div {
        justify-content: center;}   
    .image1:nth-child(2) {
        margin-left: 60px;}
    .image1:nth-child(3){
        margin-top: 60px;}}
@media (max-width:703px) {
    .image1:nth-child(2) {
        margin-top: 60px;
        margin-left: 0;}} 
@media (max-width: 768px){
    .div-box {
        flex-wrap: wrap;}}
