/* header styles */
.background-image {
    background-image: url(../images/header-image.jpg);
    height: 324px;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;}
.nav-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;}
.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;}
.nav-li {
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;}
.nav-a {
    color:white;}
.header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-left: 300px;
    font-family: 'Lato', sans-serif;}
.header-h3 {
    font-size: 50px;
    color: white;
    max-width: 400px;
    width: 100%;}
.div-li {
    width: 2px;
    height: 20px;
    background-color: white;}
.navigation-ul {
    margin-top: 50px;
    max-width: 200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;}
/* section map styles */
.div-map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.section-map {
    max-width: 1088px;
    width: 100%;
    height: 286px;
}
/* section 3 styles */
.text-divh {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: blue;
}
.text-divp {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    max-width: 600px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;}
.images-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image1 {
    width: 352px;
    height: 352px;
}
.section3-div{
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;}
